//-----------发布商标-------------------//
.sellform{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;right: 0;
  top: 0;bottom: 0;
  margin: auto;
  ul.formnav{
    width: 100%;
    height: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
    @include clear;
    li{
      width: 50%;
      height: 100%;
      text-align: center;
      line-height: 1rem;
      font-size: .34rem;
      color: #001026;
      float: left;
      position: relative;
      &:after{
        content: "";
        width: 1.32rem;
        height: 0.04rem;
        background: #406ff4;
        position: absolute;
        left: 0;right: 0;bottom: 0;
        margin: auto;
        display: none;
      }
      &.active{
        color: #406ff4;
        &:after{
          display: block;
        }
      }
    }
  }
  .borcolor{
    width: 100%;
    height: 0.2rem;
    background: #f7f7f8;
  }
  .liebei{
    width: 100%;
    height: 1rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    color: #001026;
    line-height: 1rem;
    font-size: .3rem;
    background: url(#{$backimg}lefticon.png)no-repeat;
    background-position: 95% center;
    background-size: 0.17rem 0.29rem;
    i{
      float: right;
      color: #62686f;
      line-height: 1rem;
      font-style: normal;
      margin-right: 0.5rem;
    }
  }
  .formlist{
    width: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
    li{
      width: 100%;
      height: 1rem;
      border-bottom: 1px solid #e9ebee;
      color: #001026;
      line-height: 1rem;
      font-size: .3rem;
      position: relative;
      input{
        width: 70%;
        height: 92%;
        font-size: .3rem;
      }
      .chaxu{
        width: 1.4rem;
        height: .6rem;
        line-height: .6rem;
        text-align: center;
        border-radius: 0.1rem;
        border: 1px solid #406ff4;
        color: #406ff4;
        font-size: .28rem;
        position: absolute;
        top:.2rem;right: 0.1rem;
        margin: auto;
      }
    }
  }
  .fabu{
    width: 80%;
    height: .88rem;
    border-radius: 1rem;
    background: #406ff4;
    color: #fff;
    font-size: .32rem;
    text-align: center;
    line-height: .88rem;
    margin: .4rem auto;
  }
  .fontalert{
    width: 80%;
    font-size: .28rem;
    color: #ffa838;
    line-height: .4rem;
    margin: 0 auto;
    margin-top: .5rem;
    div{
      width: 4.2rem;
      height: .8rem;
      border: 1px solid #e9ebee;
      border-radius: 1rem;
      text-align: center;
      line-height: .8rem;
      color: #62686f;
      margin: .2rem auto;
      img{
        width: .3rem;
        padding-right: 0.2rem;
        vertical-align:middle
      }
    }
  }
  .chainput{
    width: 90%;
    height: 1rem;
    border: 1px solid #e9ebee;
    margin: .8rem auto;
    background: url(#{$backimg}zcicon02.png)no-repeat;
    background-position: 0.2rem center;
    background-size: .34rem .33rem;
    padding-left: 0.8rem;
    box-sizing: border-box;
    input[type="text"]{
      width: 75%;
      height: 98%;
      font-size: .28rem;
    }
    input[type="button"]{
      width: 20%;
      height: 100%;
      font-size: .28rem;
      color: #fff;
      background: #406ff4;
      float: right;
    }
  }
}
.sellfooter{
  width: 100%;
  height: 1rem;
  border-top: 1px solid #e9ebee;
  background: #fff;
  position: fixed;
  left: 0;bottom: 0;
  margin: auto;
  font-size: .24rem;
  color: #001026;
  @include clear;
  li{
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    img{
      display: block;
      margin: 0.1rem auto;
      height: .4rem;
    }
  }
}
//-----------发布app-------------------//
.succeedapp{
  width: 100%;
  .sucapp{
    width: 100%;
    height: 1rem;
    background: #fff;
    position: relative;
    font-size: .34rem;
    color: #001026;
    text-align: center;
    line-height: 1rem;
    .return{
      width: percentage(100/750);
      height: 100%;
      background: url(#{$backimg}logicon.png)no-repeat;
      background-position: center center;
      background-size: .48rem .48rem;
      position: absolute;
      top:0;left: 0;
      margin: auto;
    }
  }
  img.inn{
    width: 100%;
  }
  .font{
    padding-top: 1rem;
    text-align: center;
    h5{
      font-size: .35rem;
      color: #001026;
      margin-bottom: .3rem;
    }
    p{
      color: #61696e;
      line-height: .5rem;
    }
  }
  .xiazai{
    display: block;
    width: 70%;
    height: .9rem;
    line-height: .9rem;
    margin: .5rem auto;
    background: #4070f3;
    text-align: center;
    color: #fff;
    font-size: .34rem;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
  }
}
//----------批量搜索商标--------------//
.batchissue{
  .header{
    width: 100%;
    height: 1rem;
    background: #fff;
    .return{
      width: percentage(100/750);
      height: 100%;
      background: url(#{$backimg}logicon.png)no-repeat;
      background-position: center center;
      background-size: .48rem .48rem;
      float: left;
    }
    input{
      width: percentage(530/750);
      height: .74rem;
      border-radius: .1rem;
      background-color: #f7f7f8;
      -webkit-box-shadow: 0 0 0 1000px #f7f7f8 inset;
      margin-top: 0.13rem;
      font-size: .34rem;
      padding-left: 0.2rem;
      box-sizing: border-box;
    }
    .seek{
      width: percentage(120/750);
      height: 100%;
      line-height: 1rem;
      float: right;
      text-align: center;
      color: #001026;
      font-size: .34rem;
    }
  }
  .batlist{
    width: 100%;
    margin-bottom: 1rem;
    li{
      width: 100%;
      .battop{
        width: 100%;
        height: 1rem;
        border-bottom: 1px solid #e9ebee;
        padding: 0 .25rem;
        box-sizing: border-box;
        font-size: .32rem;
        color: #62686f;
        line-height: 1rem;
        background: url(#{$backimg}xiala.png)no-repeat;
        background-position: 95% center;
        background-size: 0.26rem 0.19rem;
        padding-right: 0.8rem;
        box-sizing: border-box;
        p{
          max-width: 70%;
          line-height: 1rem;
          float: left;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        span{
          width: 30%;
          color: #6386f5;
        }
      }
      .battop.active{
        background: url(#{$backimg}xiala02.png)no-repeat;
        background-position: 95% center;
        background-size: 0.26rem 0.19rem;
      }
      .battop.active + ul{
        display: block;
      }
      ul{
        display: none;
        width: 100%;
        &.active{
          display: block;
        }
        li{
          width: 100%;
          padding: 0.25rem;
          box-sizing: border-box;
          border-bottom: 1px solid #e9ebee;
          @include clear;
          img{
            width: 1.88rem;
            display: block;
            float: left;
          }
          .font{
            width: 70%;
            margin-left: .18rem;
            float: left;
            h6{
              font-size: .32rem;
              color: #001026;
            }
            p{
              font-size: .24rem;
              color: #62686f;
              line-height: .4rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
        .fubu{
          width: 100%;
          height: 1rem;
          line-height: 1rem;
          color: #406ff4;
          font-size: .28rem;
          text-align: center;
          border-bottom: 1px solid #e9ebee;
          img{
            width: .17rem;vertical-align:middle
          }
        }
        .borecolor{
          width: 100%;
          height: .2rem;
          background: #f7f7f8;
          border-bottom: 1px solid #e9ebee;
        }
      }
    }
  }
}
.null{
  width: 100%;
  position: fixed;
  top: 2rem;left: 0;right: 0;
  bottom: 1rem;
  margin: auto;
  font-size: .28rem;
  color: #62686f;
  text-align: center;
  img{
    width: 2.11rem;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
  }
}
//----------我的发布--------------//
.iissue{
  width: 100%;
  position: fixed;
  top:0;left: 0;right: 0;bottom: 0;
  margin: auto;
  overflow: hidden;
  .header{
    width: 100%;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    font-size: .38rem;
    color: #001026;
    border-bottom: 1px solid #e9ebee;
  }
  ul.sblist{
    width: 100%;
    li{
      width: 100%;
      padding: 0.25rem;
      box-sizing: border-box;
      border-bottom: 1px solid #e9ebee;
      @include clear;
      img{
        width: 1.88rem;
        display: block;
        float: left;
      }
      .font{
        width: 70%;
        margin-left: .18rem;
        float: left;
        h6{
          font-size: .32rem;
          color: #001026;
        }
        p{
          font-size: .24rem;
          color: #62686f;
          line-height: .4rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          i{
            font-size: .3rem;
            color: #e82121;
            font-style: normal;
          }
        }
      }
    }
  }
}
.advertising{
  position: fixed;
  left: 0;right: 0;
  bottom:1rem;
  width: 100%;
  height: 1rem;
  background: url(#{$backimg}sellicon02.jpg)no-repeat;
  background-position:center center;
  background-size:cover;
  @include clear;
  a{
    display: block;
    width: 92%;
    height: 100%;
    float: left;
  }
  div{
    width: 8%;
    height: 100%;
    float: right;
  }
}
.safaris{
  position: fixed;
  top:0;left: 0;right: 0;bottom: 0;
  margin: auto;
  z-index: 8888;
  .shade{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }
  .imgs{
    width: 6.4rem;
    height: 7.74rem;
    position: absolute;
    top:0;left: 0;right: 0;bottom: 0;
    margin: auto;
    z-index: 888;
    background: url(#{$backimg}safari.jpg)no-repeat;
    background-position: center center;
    background-size: 6.4rem 7.74rem;
  }
}
._v-container{
  top:1rem;
}
.footlist{
  width: 3.6rem;
  background: #fff;
  position: fixed;
  bottom: 1rem;
  right: 0;
  margin: auto;
  -webkit-box-shadow: #969696 0px 0px 10px;
  box-shadow: #969696 0px 0px 10px;
}
.footlist li{
  width: 100%;
  height: .92rem;
  border-bottom: 1px solid #e9ebee;
  font-size: .28rem;
  color: #5a5a5a;
  line-height: .92rem;
  padding-left: .6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footlist li a{
  display: block;
  line-height: .92rem;
  width: 100%;
  height: 100%;
  color: #5a5a5a;
}
